    name: Build Marp Presentations

    on:
      push:
        branches:
          - main
      # Allows you to run this workflow manually from the Actions tab
      workflow_dispatch:

    jobs:
      publish:
        runs-on: ubuntu-latest
        container: marpteam/marp-cli:latest # Specify the Marp CLI Docker image
        steps:
          - uses: actions/checkout@v4
          - name: Convert Marp slides
            run: marp-cli content/slides/**/*.md --pdf # Run the marp command within the container
          - uses: actions/upload-artifact@v4
            with:
              name: marp-output
              path: content/slides/**/*.md

